extends layout

block content
	#login_header.all
		img(src='images/logo.png', id='logo', class='all')
		input(type='password', id='pass', class='all login', placeholder='password')
		input(type='text', id='name', class='all login', placeholder='name')
