doctype 5
html
  head
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.livequery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/client.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/favicon.png', type='img/png')
  body
    block content